<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Zde můžete definovat další konfigurační sekce, pokud potřebujete -->

	<connectionStrings>
		<add name="Con" connectionString="                 Name Database                                 " providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

