<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Zde můžete definovat další konfigurační sekce, pokud potřebujete -->

	<connectionStrings>
		<add name="Con" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Inventory;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

